<div class="container mt-5">
    <div class="col-8 border  bg-body rounded px-3 pt-4 mx-auto">
    <div class="row">
    <div class="col-4">
    <div class="h3">設定</div>
    <%= render "shared/edit_user_info" %>
    </div>

    <div class="col-8">
        <div class="h5">アカウント</div>
        <div class="col-12 py-4 mx-auto">
        <div class="row justify-content-center mb-2">
            <div class="col-5 text-start fw-bold">メールアドレス</div>
            <div class="col-7"><%= @user.email %></div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-5 text-start fw-bold">パスワード</div>
            <div class="col-7 text-break">*********</div>
        </div>
        <div class="text-end me-5"><%= link_to "編集", edit_user_registration_path(@user), class:"btn btn-secondary" %></div>
        </div>        
    </div>
</div>