<h3 class="fst-italic">pages#top<h3>
<div class="container-fluid">
<%= render "shared/searchbar" %>
    <div class="d-flex justify-content-center">
        <div class="fs-5 fw-bold col-3 border rounded-3 me-4">
        <div class="ps-2">新着</div>
        <div></div>
        </div>
        <div class="fs-5 fw-bold col-4 border rounded-3 me-4">カテゴリから探す</div>
        <div class="fs-5 fw-bold col-4 border rounded-3">傾向から探す</div>
    </div>
</div>
